@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../app/images/bg.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1; /* Put it behind the content */
}
.background-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("../app/images/bg.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
}
